@font-face {
  font-family: 'Inter';
  src: url('Inter-Medium.woff2') format('woff2'),
    url('Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url(' Inter-Bold.woff2') format('woff2'),
    url('Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Regular.woff2') format('woff2'),
    url('Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Inter';
}

.font-inter {
  font-family: 'Inter';
}

.font-weight-normal{
    font-weight: normal;
}

.font-weight-light{
  font-weight: lighter;
}

.font-weight-bold{
  font-weight: bold;
}
